* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
  box-sizing: border-box;
}

@font-face {
  font-family: "Quicksand";
  src: url('Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Capriola';
  src: url('Capriola/Capriola-Regular.ttf') format('truetype');
}

/* Menu */
.bg-dark {
  background-color: #535064 !important;
}

.navbar-brand {
  font-family: 'Capriola';
}

p {
  color: #535064;
}

h1 {
  font-family: 'Capriola';
  font-size: 60px;
}

#politics {
  color: #9AAD9F;
  font-size: 70px;
}

#science {
  color: #778063;
  font-size: 70px;
}

#literature {
  color: #948271;
  font-size: 70px;
}

.logo-container {
  height: 240px;
  display: flex;
  justify-content: center;
}
.logo-image {
  height: 200px;
  margin: 20px 0 20px 0;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 3rem;
}

.subtext {
  font-style: italic;
  justify-content: center;
  color: #D5CCA0;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-align: center;
  margin: 0 0 15px 0;
}

.main-page-wrap {
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.text {
  margin: 0 10px 0 0;
  align-items: center;
  width: 55%;
}


/*jumbotron spotlight*/

.jumbotron {
  background-color: #9AAD9F !important;
}
.img-fluid {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  padding-bottom: 10pt;
}
.lead {
  display: flex;
  margin-top: 10%;
  font-size: 20pt;
}
.info {
  font-size: 15pt;
}

/* ------------- */




/*main page intro */

.introheader {
  margin: 50pt 10pt 30pt 10pt;
  text-align: center;
}
.intro {
  margin: 50pt 50pt 50pt 50pt;
  font-size: 20pt;
}

/* ------------- */


.large-nav-buttons {
  display: flex;
  height: 150px;
  justify-content: space-around;
  margin: 20px 25px 75px 25px;
}

.nav-button a:hover {
  text-decoration-color: white;
}

.nav-button {
  width: 30%;
  border-radius: 15px;
  justify-content: center;
}

.lit-button {
  background-color: #948271;
}

.sci-button {
  background-color: #778063;
}

.poli-button {
  background-color: #9AAD9F;
}


.nav-button h2 {
  font-size: 45px;
  margin: 45px 0 60px 0;
  font-family: "Capriola";
  color: white;
  text-align: center;
}

.lit-button h2 {
  font-size: 40px;
}




/* modal styling */

h5 {
  font-family: "Capriola";
  color: #535064;
}
.modal a {
  display: block;
}

/* ------------- */





/* lit/poli/sci page layouts */
.image-grid-container {
  width: 45%;
  align-items: center;
}
.image-grid {
  justify-content: center;
  display: grid;
  grid-template: auto auto auto / 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.image-grid img {
 /* height: 250px;*/
  width: 100%;
}
/* ------------------------- */




/* footer */
footer {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #D5CCA0;
  padding: 0 20px 0 10px;
}
.footer-info {
  margin: 0 5px 0 10px;
  color: #535064;
}
.footer-link {
  color: #535064;
}
.footer-link:hover {
  color: #535064;
}
/*--------*/



/* responsive design */

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  .main-page-wrap {
    display: block;
    justify-content: center;
  }
  .text {
    width: 100%;
  }
  .image-grid-container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .image-grid {
    width: 100%;
    grid-template: auto auto / 1fr;
    justify-content: center;
  }
  footer {
    font-size: 11px;
  }
  #politics {
    text-align: center;
    font-size: 45px;
  }
  #literature {
    text-align: center;
    font-size: 40px;
  }
  #science {
    text-align: center;
  }
  .large-nav-buttons {
    display: block;
    height: 450px;
    margin: 25px 20px 50px 20px;
  }
  .nav-button {
    height: 30%;
    width: 80%;
    margin: 15px auto;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 1000px) {
  .main-page-wrap {
    display: block;
    justify-content: center;
  }
  .text {
    width: 100%;
  }
  .image-grid-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-grid {
    width: 75%;
    grid-template: auto auto / 1fr;
    justify-content: center;
  }
  #politics {
    text-align: center;
  }
  #literature {
    text-align: center;
  }
  #science {
    text-align: center;
  }

  .large-nav-buttons {
    display: block;
    height: 450px;
    margin: 25px 20px 50px 20px;
  }
  .nav-button {
    height: 30%;
    width: 80%;
    margin: 15px auto;
  }
  .text p {
    font-size: 17px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1001px) {
  .text p {
    font-size: 18px;
  }
}

/* ----------------- */
