@font-face {
  font-family: "Quicksand";
  src: url('Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Capriola";
  src: url('Capriola/Capriola-Regular.ttf') format('truetype');
}

/* Menu */
.bg-dark {
 /* background-color: #535064 !important;*/
    background-color: red !important;
}

p {
  font-family: "Quicksand";
}

h1 {
  font-family: "Capriola";
}
