* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Quicksand";
  src: url('Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Capriola';
  src: url('Capriola/Capriola-Regular.ttf') format('truetype');
}

/* Menu */
.bg-dark {
  background-color: #535064 !important;
}

.navbar-brand {
  font-family: 'Capriola';
}
.nav-item {
  font-family: 'Quicksand';
}

p {
  font-family: "Quicksand";
}

h1 {
  font-family: 'Capriola';
}
.logo-container {
  height: 240px;
  display: flex;
  justify-content: center;
}
.logo-image {
  height: 200px;
  margin: 20px 0 20px 0;
}
